@import "index";

.header {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid $color-theme-secondary;
  display: flex;
  justify-content: space-between;

  &-menu,
  &-user {
    @include flex-centered();

    .icon {
      font-size: 26px;
    }
  }

  &-logo {
    &-img {
      width: 175px;
    }
  }
}
