$font-light: "Roboto Light" !default;
$font-bold: "Roboto Bold" !default;

@font-face {
  font-family: $font-light;
  src: local($font-light), url("../assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: $font-bold;
  src: local($font-bold), url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}
