$color-theme-primary: #8bc53f !default;
$color-theme-secondary: #dddddd !default;
$color-theme-thirdary: #f9e988 !default;
// $color-theme-fourth: #0e1821 !default;
// $color-theme-fifth: #67c1f5 !default;

// $btn-background-color: linear-gradient(90deg, #06bfff 0%, #2d73ff 100%);
