/* You can add global styles to this file, and also import other style files */
@import "index";

body {
  font-family: $font-light;
  overflow-x: hidden;
}

[disabled] {
  pointer-events: none;
}

.card {
  box-shadow: 0 0 5px $color-theme-secondary;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}
